.caseStyle {
    border-top: 10px solid #FF5349;
     flex: auto;
     cursor: pointer;
     margin-right: 30px;
}

.recoverStyle {
    border-top: 10px solid #adff2f;
    flex: auto;
    cursor: pointer;
    margin-right: 30px;
}

.lastStyle {
    border-top: 10px solid #6b6b6b;
    flex: auto;
    cursor: pointer;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: auto;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}